article {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
    padding: 0 20px;
}

.item--text {
    margin-left: 30px;
    margin-right: 50px;
    width: 50%;
}

.item--text a h3 {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vh;
}

.item--text--data {
    margin-bottom: 10px;
    font-size: 2vh;
}

.item--description {
    font-size: 1.7vh;
}

.item--stats {
    margin-left: 20px;

}

h3 {
    margin: 0;
}

.tags {
    display: flex;
}

@media screen and (max-width: 600px) {

    article > a > .avatar {
        display: none;
    }

    article > div:first-child, .tags {
        display: none;
    } 

    article {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        border-radius: 20px;
        box-shadow: 1px 0px 20px 2px #F5F5F5;
        padding: 20px;
    }

    .item--text {
        margin-left: 0;
        margin-right: 50px;
        width: 100%;
    }

    .item--stats {
        margin-top: 10px;
        margin-left: 0;
        display: flex;
    }

    .item--stats p {
        margin-right: 10px;
    }
}

