section {
    position: fixed;
    left: 300px;
    top: 93.5px;
    padding: 3% 7%;
    width: calc(100% - 300px);
    height: calc(100% - 93.5px);
    overflow-y: scroll;
}

.sort-items {
    margin-bottom: 50px;
    border: none;
}

.sort-items:focus {
    outline: none;
}

@media screen and (max-width: 900px) {
    section {
        width: 100vw;
        left: 0;
    }
}

