.post {
    padding: 3em 7em;
}

.post h1 {
    margin: 0.5em 0;
}

.post-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-info > div {
    margin-right: 1em;
}

.dots {
    height: 20px;
}

.post-contents > img {
    width: 100%;
    margin-top: 1em;
}

.post-contents p {
    margin: 1.5em 0;
}

.like {
    margin-bottom: 1em;
}

.comment-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-input input {
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    width: 100%;
    margin: 0 1.5em;
    padding: 1em;
    font-size: 1em;
}

.comment-input button {
    padding: 5px 20px;
    height: 40px;
}